*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.my_container{
    width: 100%;
  padding-right: 18%;
  padding-left: 18%;
  margin-right: auto;
  margin-left: auto;
}
header{
    font-size: 0.8rem;
    font-weight: 600;
    
}
h4{
    color: white;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}  
